<div class="container">
  <form (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm">

    <div class="sign-up">
      <div class="word-main"><strong>Sign up</strong></div>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input id="nameInput" type="text" placeholder="Your Name" name="username" ngModel class="form-control" required/>
      </div>
      <div class="email">
        <i class="fa-solid fa-envelope"></i>
        <input id="emailInput" type="email" placeholder="Your Email" name="email" ngModel class="form-control" required/>
      </div>
      <div class="pass">
        <i class="fa-solid fa-lock"></i>
        <input id="passwordInput" type="password" placeholder="Password" name="password" ngModel class="form-control" required/>
        <div *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)" class="text-red-500">
          <div *ngIf="formLogin.controls['password'].errors?.['required']">Password is required.</div>
        </div>
      </div>
      <div class="repeat-pass">
        <i class="fa-solid fa-lock"></i>
        <input id="repeatPasswordInput" type="password" placeholder="Repeat your password" name="confirm_password" ngModel class="form-control" required/>
        <div *ngIf="formLogin.controls['confirm_password'].invalid && (formLogin.controls['confirm_password'].dirty || formLogin.controls['confirm_password'].touched)" class="text-red-500">
          <div *ngIf="formLogin.controls['confirm_password'].errors?.['required']">Confirm Password is required.</div>
          <div *ngIf="formLogin.controls['confirm_password'].hasError('passwordsMismatch')">Passwords do not match.</div>
        </div>
      </div>
      <div class="message">
        {{ err ? err : '' }}
      </div>
      <div class="button">
        <input type="checkbox" /> I agree all statements in
        <span class="underline">Term of service</span>
      </div>
      <button type="submit" id="registerButton" class="register">Register</button>
    </div>

  </form>
  <div class="image">
    <div class="image-main">
      <img src="../../../assets/images/Resgister.png" width="380px" height="450px" alt="" />
    </div>
    <div class="word">
      <a href="/login" class="underline">I am already member</a>
    </div>
  </div>
</div>
