<main class="flex-1">
    <div class="px-8">
      <div class="border text-card-foreground bg-white rounded-lg shadow" data-v0-t="card">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">Danh Sách Products</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="text-[#5f6368]"
          >
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </div>
        <div class="p-6">
          <div class="relative w-full overflow-auto">
            <table class="w-full caption-bottom text-sm">
              <thead class="[&amp;_tr]:border-b">
                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted text-center">
                  <th class="h-12 px-4 w-5 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    STT
                  </th>
                  <th style="width: 150px; " class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center ">
                    Mã Đơn Hàng
                  </th>
                  <th class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    Xem chi tiết
                  </th>
                  <th class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    UserID
                  </th>
                  <th class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    Ngày Mua Hàng
                  </th>
                  <th class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    Tổng tiền
                  </th>
                  <th class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    Status
                  </th>
                  <th class="h-12 px-4 text-left align-middle font-medium [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                    Notes
                  </th>
                </tr>
              </thead>
              <tbody class="[&amp;_tr:last-child]:border-0">
                <% users.forEach((user, index) => { %>
                  <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted text-align">
                      <td class="p-4 align-middle w-5 [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= index + 1 %>
                      </td>
                      
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= user.InvoiceID %>
                      </td>
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <a href="/AdminOrderDetail?OrderLK=<%= user.OrderLK %>">Tại đây ...</a>
                      </td>
                     
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= user.UserID %>
                      </td>
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= user.InvoiceDate %>
                      </td>
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= user.TotalAmount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
                      </td>
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= user.Status %>
                      </td>
                      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-sm text-[#5f6368] text-center">
                          <%= user.Notes %>
                      </td>
                  </tr>
                  <% }); %>
                  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>